/* FIXME:QLineEdit colors not legible (not enough contrast) */

#widgetLabel{
  margin-top: 10px;
  font-weight: bold;
  border-bottom: 0.5px solid #C2C7CB;
  background-color: #C2C7CB;
}

QWidget{
  background: #5B5B5B;
}

QListView {
    show-decoration-selected: 1; /* make the selection span the entire width of the view */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: #2B2B2B;
    alternate-background-color: #3B3B3B;
    color: #C2C7CB;    
}

#definitionListView{
  font-size: 20px; /*There is no support for responsive font size at the moment. Should be changed in runtime*/
  alternate-background-color: #3B3B3B;
}
#definitionListView::item{
  padding-bottom: 4px; 
  padding-top: 4px; 
  border-bottom: 2px solid #C2C7CB;
}

#definitionListView::disabled{
  background: #AEAEAE;
}

QStatusBar{
  border: 0.5px double #C2C7CB;
  background: #7E7E7E;
  color: #DEDEDE;
  font-family: monospace
}


QListView::item:alternate {
    background: #EEEEEE;
}
QListView::item:selected:!active {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 #5B5B5B, stop: 1 #AB9B8B);
    color : white
}

QListView::item:selected:active {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 #5B5B5B, stop: 1 #7B6B6B);
    color : white
}

QListView::item:hover {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 #5B5B5B, stop: 1 #9B7B8B);
    color : white
}


QTabWidget::pane { /* The tab widget frame */
  border-top: 2px solid #C2C7CB;
}

QTabWidget::tab-bar {
  left: 5px; /* move to the right by 5px */
}

/* Style the tab using the tab sub-control. Note that
  it reads QTabBar _not_ QTabWidget */
QTabBar::tab {
  background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                              stop: 0 #E1E1E1, stop: 0.4 #DDDDDD,
                              stop: 0.5 #D8D8D8, stop: 1.0 #D3D3D3);
  border: 2px solid #C4C4C3;
  border-bottom-color: #C2C7CB; /* same as the pane color */
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  min-width: 8ex;
  padding: 2px;
}

QTabBar::tab:selected, QTabBar::tab:hover {
  background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                              stop: 0 #fafafa, stop: 0.4 #f4f4f4,
                              stop: 0.5 #e7e7e7, stop: 1.0 #fafafa);
}

QTabBar::tab:selected {
  border-color: #9B9B9B;
  border-bottom-color: #C2C7CB; /* same as pane color */
}

QTabBar::tab:!selected {
  margin-top: 2px; /* make non-selected tabs look smaller */
}